* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(189, 195, 199,1.0);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 130px;
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display:none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  font-size: 30px;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  margin-top: 30px;
  text-align: center;
}

h3	{
	font-size: 40px;
	margin-bottom: 10px;
	text-align: center;
	color: #2c2c54;
}

.contact-from{
	padding-top: 70px;
}

.contact-from p {
	margin-top: 30px;
	font-size: 20px;
}
h4{
	border-bottom: 2px solid #dee7ec;
	padding-bottom: 15px;
	margin-bottom: 50px;
	font-size: 30px;
	color: #d63031;
}

input, textarea {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 18px;
	width: 400px;
	border: 1px solid #dee7ec;
}

.contact-sumbit {
  background-color: #dee7ec;
  color: #889eab;
  width: 400px;
}

footer {
  height: 120px;
  background-color:  #2d3436;
  padding: 40px;
  color:#dfe6e9;
  animation-duration: 8s;
  animation-name: logo;
}
.footer-logo {
  font-size : 60px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

@keyframes logo {
  0%   {background-color:#EA2027;}
  25%  {background-color:#FFC312;}
  50%  {background-color:#009432;}
  100% {background-color:#1B1464;}
}
